@font-face {
    font-family: "fonte_nova";
    src: url("../assets/CreatoDisplay-Light.otf");
}




.fundo_body{
    border-radius: 20px;
    width: 93vw;
    height: 700px;
    
}

.corpo_t{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}


.textos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('Rosa e Azul.jpeg');
    background-size: cover; /* Garantindo que a imagem cubra toda a div */  
    background-position: right;
    background-repeat: no-repeat;  
    height: 200px; 
    width: 93%; 
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px;
}




.cardapio{
    background: linear-gradient(30deg, #d25a76, #72a6dd); /* Gradiente rosa e azul */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
    font-family: "fonte_nova";
    font-size: 18px;
    letter-spacing: 0px;
    align-self: center;
    
}

.cardapio::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(30deg, #d25a76, #72a6dd);
    left: 0;
    transform: scaleX(0); /* Esconde a linha inicialmente */
    transition: transform 0.3s ease-in-out;
}

.cardapio:hover{
    transform: scale(1.05);
}

.cardapio:hover::after{
    transform: scaleX(1);
}

.pedido{
    background: linear-gradient(30deg, #d25a76, #72a6dd); /* Gradiente rosa e azul */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
    font-family: "fonte_nova";
    font-size: 18px;
    letter-spacing: 0px;
    transition: transform 0.3s ease-in-out;
}

.pedido::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(30deg, #d25a76, #72a6dd);
    left: 0;
    transform: scaleX(0); /* Esconde a linha inicialmente */
    transition: transform 0.3s ease-in-out;
}

.pedido:hover {
    transform: scale(1.05); /* Aumenta levemente o texto */
}

.pedido:hover::after {
    transform: scaleX(1); /* Linha aparece ao passar o mouse */
}

.produtos{
    background: linear-gradient( #d6fff8, #61adff); 
    -webkit-background-clip: text; /* Aplica o gradiente no texto */
    -webkit-text-fill-color: transparent;
    font-family: "fonte_nova";
    font-size: 18px;
    letter-spacing: 0px;
    align-self: center;
}

.produtos::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(30deg, #d25a76, #72a6dd);
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.produtos:hover {
    transform: scale(1.05); /* Aumenta levemente o texto */
}

.produtos:hover::after{
    transform: scaleX(1); /* Linha aparece ao passar o mouse */

}

a{
    text-decoration: none;
}




.textos a{
    align-self: start;
    padding-right: 70px;
    padding-top: 20px;
    
}

.carrossel {
    width: 100%;
    max-width: 1200px; /* Limita o tamanho máximo */
    margin-top: 50px; /* Ajusta o espaço entre os textos e o carrossel */
    display: flex;
    align-self: flex-start;
  }





  













