/* Carrosel.css */

.carrossel-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  

}



.carrossel-wraper{
  display: flex;
  flex-direction: row;
  align-items: center;
}




.info{
  font-size: 10px;
  width: 500px;
  color: white;
}

.imagem-wrapper {
  opacity: 1;
  animation: fadeZoom 0.5s ease-out;
}

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.carrossel-container img {
  height: 700px; /* Mude para 500px, 600px ou mais */
  max-width: 500px; /* Mude para 600px, 700px ou mais */
  border-radius: 10px;
}




p {
  font-size: 1.3rem;
  color: #666;
  line-height: 1.6;

}


.link{
  background-color:  #65BAE1;
  text-decoration: none;
  transition: color 0.3s ease;
  border: solid transparent;
  color: black;
  border-radius: 5px;
}


.link:hover{
  background-color: #ff4da6 ;
  


}


/* Responsividade */
@media (max-width: 768px) {
  .carrossel-wraper {
    padding: 20px;
    min-height: 60vh;
    flex-direction: column;
    display: flex;
  }


  .info{
    font-size: 5px;
  }

  
  .carrossel-container img {
    height: 400px;
    max-width: 100%;
    
  }
  
  .carrossel-container h2 {
    font-size: 5rem;
    
  }
  
  .carrossel-container p {
    font-size: 1.1rem;
  }
  

  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
}