.hover-link:hover {
  color: #ff4da6 !important; /* Rosa, com !important para sobrepor Bootstrap */
  transition: color 0.3s ease;
}

.nav-link{
  color: #65BAE1 !important;
}

.nav{
  font-size: 19px;
}

.line{
  border-bottom: solid 2px #65BAE1;
  display: flex;
}

.containerh{
  border-top:none;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .img-fluid.w-50.rounded-circle {
    display: block;         
    margin-left: auto;      
    margin-right: auto;   
  }
}


@media (max-width: 768px) {
  .nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 1.3rem;
  }
}

