.ead{
    background-color: rgba(0, 0, 0, 0.897);
    width: 100%;
    height: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

@font-face {
    font-family: 'Hookah';
    src: url("../assets/CreatoDisplay-Light.otf");
}

.logo{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    

}


.logoInsta{
    height: 30px;
    width: 30px;
}

.whatsLogo{
    width: 30px;
    height: 30px;
}

.Hookah {
    
    font-family: "Hookah";
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(30deg, #d25a76, #72a6dd); /* Gradiente rosa e azul */
    -webkit-background-clip: text; /* Aplica o gradiente no texto */
    color: transparent; 
    
}


.Social{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
}

.div_logo{
    align-self: initial;
    cursor: pointer;
    
    
}






