@font-face {
    font-family: "fonte_nova";
    src: url("../assets/CreatoDisplay-Light.otf");
}


.Teste1 {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 650px; /* Ocupar todo o espaço da coluna */
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #17191A;
}

.Funcionamento {
  font-family: "Segoe Ui";
  font-size: 35px;
  margin-bottom: 20px; /* Afastamento do próximo item */
  color: white;
  font-size: 40px;
}

.Horarios {
  font-size: 25px;
  text-align: center;
  width: 100%; /* Garante que o texto ocupe toda a largura */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin-top: auto;
} 

.Logo {
  width: 90px; 
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  margin-top: auto; /* Empurra a logo para a parte de baixo */
  border: solid transparent 1px;
}

.Local{
  color: white;
  font-size: 30px;
  margin-top: auto;
}
