.Teste {
  text-align: center;
  display: flex;
  justify-content: space-between; /* Distribui os elementos dentro da div */
  align-items: center;
  flex-direction: column;
  height: 100%; /* Ocupar todo o espaço da coluna */
  width: 100%;
  padding: 20px;
}

.Funcionamento {
  color: black;
  font-family: "fonte_nova";
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 20px; /* Afastamento do próximo item */
}

.Horarios {
  color: black;
  font-family: "fonte_nova";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px; /* Espaço entre horários e logo */
  width: 100%; /* Garante que o texto ocupe toda a largura */
}

.Logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  margin-top: auto; /* Empurra a logo para a parte de baixo */
  border: solid white 1px;
}
