body {
  background: linear-gradient(to right, #e91e63, #3498db, #000);
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%; /* Garantir que o gradiente cubra toda a tela sem distorcer */
  background-position: center center; /* Centraliza o gradiente */
  background-attachment: fixed; /* O fundo não se move durante o scroll */
}





@media(max-width: 1200px){
  body{
      padding: 0 20px 32px;
      margin-left: -50px;
  }
}
